.image-border{
    padding-top: 50px;
}
.image-border img{
    height: 530px;
    width: 100%;
}
.image-text{
    margin-top: 250px;
    width: 450px;
    text-align: right;   
}
.image-text h1{
    font-size: 60px;
    font-style: italic;
}
.image-text h2{ /*Subtitle*/
    font-size: 21px;
}
.img1{
    margin-top: 120px;
 
}
.img1 img{
    height:300px;
    width:400px;
}
/*Definition and the text below*/
.first-text-border h1{
    font-size: 40px;
}
.first-text-border{
    margin-top: 70px;
    font-size: 20px;
}
.img2{
    margin-top: 70px;
}
.img2 img{
    height:300px;
    width:430px;
}
.second-text-border{
    margin-top: 30px;
    font-size: 20px;
    padding-left: 90px;
}
.second-text-border h1{
    font-size: 40px;
}
.img3{
    margin-top: 100px;
}
.img3 img{
    height:300px;
    width:430px;
}
.third-text-border{
    margin-top: 70px;
    font-size: 20px;
   
}
.third-text-border h1{
    font-size: 40px;
}
.img4{
    margin-top: 70px;
}
.img4 img{
    height:300px;
    width:430px;
}
.fourth-text-border{
    margin-top: 70px;
    font-size: 20px;
    padding-left: 90px;
}
.fourth-text-border h1{
    font-size: 40px;
}
hr{
    border-top: 1px solid black;
}
@media (min-width:992px) {
    .second-text-border,.fourth-text-border{
        padding-left: 150px;
    }
    .first-text-border,.third-text-border{
        width:50%;
    }
    .img1 img,.img3 img{
        width:480px;
    }
}
@media (max-width:991px){
    .second-text-border,.fourth-text-border{
        padding-left: 15px;
    }
    .img1 img{
        width:430px;
    }
}
@media (min-width:400px) and (max-width:460px){
    .image-text{
        width: 300px;
        text-align: left;
    }
    .image-border img{
        height: 330px ;
    }
    .img1 img,.img2 img,.img3 img,.img4 img{
        width: 300px;
        height: 200px;
    }
}
@media (min-width:300px) and (max-width:400px){
    .image-text{
        width: 250px;
        text-align: left;
    }
    .image-text h1{
        font-size: 40px;
    }
    .image-text h2{
        font-size: 15px;
    }
    .image-border img{
        height: 250px ;
    }
    .img1 img,.img2 img,.img3 img,.img4 img{
        width: 250px;
        height: 200px;
    }
}
/*new*/
@media (min-width:1350px){
    .image-text{
        width: 430px;
    }
}
@media (max-width:1350px){
    .image-text{
        margin-top: 50px;
    }
}
@media (min-width:746px) and (max-width:1330px){
    .image-text , .image-border{
       margin-left: 100px;
    }
}