body,html{
    background-color: white;
    margin: 0;
    height: 100%;
}
head,body,footer{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{
    box-sizing: border-box; /*When we want to calculate in box's size the paddings and margins.*/
}  
/*Entire top nav bar (logo,singin included)*/
.topnav {
    overflow:visible;
    background-color: solid;
    position: absolute; /* Set the navbar to absolute position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
/*Logo*/
.topnav a {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}
/*Button format*/
.topnav .topnav-right {
    position: absolute;
    top: 10px;
    right: 10px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    color: white;
}
/*Container that has the background image and the text on it */
.background-container{
    /*Set the position and adjust picture*/
    background-image: url("media/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display:flex; /*MUST*/
}
.backtext{
    top: 200px;
    left: 300px;
    position: relative;
    font-weight:bold;
    color: black;
    font-size:40px;
    text-shadow: 1px 1px 7px black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*our,city*/
.backtext p{
    margin: 0;
    padding:0 27% ;
    font-weight:bolder;
    color: whitesmoke;
    font-style:normal;
}
/*integrated,affordable,sustainable,resilient*/
p1{ padding: 0 3%;}
p2{ padding: 0 9%;}
p4{ padding:0 8%;}
@media (min-width:2560px) {
    .backtext{
        font-size:70px;
        left: 470px;
        top: 330px;
    }
}
@media (min-width:1924px) and (max-width:2560px) {
    .backtext{
        font-size:60px;
    }   
}
@media (min-width:1200px) and (max-width:1462px) {
    .backtext{
        text-shadow: 1px 2px 7px white;
        font-size:40px;
        left:200px;
        top:150px;
    }
    .backtext p{
        font-weight:bolder; font-style:normal;
        color: whitesmoke;
        text-shadow: 1px 2px 7px black;
    }
    em{
        text-shadow: 1px 2px 7px black;
    }
}
@media (min-width:881px) and (max-width:1199px){
    .backtext{
        text-shadow: 1px 2px 7px white;
        font-size:34px;
        left:100px;
        top:140px;
    }
    .backtext p{
        font-weight:bolder; font-style:normal;
        color: whitesmoke;
        text-shadow: 1px 2px 7px black;
    }
    em{
        text-shadow: 1px 2px 7px black;
    }
}
@media (min-width:581px) and (max-width:880px){
    .backtext{
        text-shadow: 1px 2px 7px white;
        font-size:30px;
        left: 10px;
        top:160px;
    }
    .backtext p{
        font-weight:bolder; font-style:normal;
        color: whitesmoke;
        text-shadow: 1px 2px 7px black;
    }
    em{
        text-shadow: 1px 2px 7px black;
    }
}
@media (max-width:581px){
    .backtext{
        text-shadow: 1px 2px 7px white;
        font-size:30px;
        left: 5px;
        top: 160px;
    }
    .backtext p{
        font-weight:bolder; font-style:normal;
        color: whitesmoke;
        text-shadow: 1px 2px 7px black;
    }
    em{
        text-shadow: 1px 2px 7px black;
    }
}
@media (min-height:350px) and (max-height:490px){
    .backtext{
        text-shadow: 1px 2px 7px white;
        font-size:30px;
        left: 150px;
        top: 80px;
    }
    .backtext p{
        font-weight:bolder; font-style:normal;
        color: whitesmoke;
        text-shadow: 1px 2px 7px black;
    }
    em{
        text-shadow: 1px 2px 7px black;
    }
}
@media (max-height:349px){
    .backtext{
        text-shadow: 1px 2px 7px white;
        font-size:20px;
        left: 150px;
        top: 80px;
    }
    .backtext p{
        font-weight:bolder; font-style:normal;
        color: whitesmoke;
        text-shadow: 1px 2px 7px black;
    }
    em{
        text-shadow: 1px 2px 7px black;
    }
}
@media (max-height:249px){
    .backtext{
        visibility: hidden;
    }
}
@media (max-width:310px){
    .backtext{
        visibility: hidden;
    }
}

/*Carousel*/
/*change slide-show's width*/
.container{
    padding-top: 100px;
    padding-right: 50px !important;
    padding-left: 50px !important;
}
/*change arrows*/
a.left.carousel-control , a.right.carousel-control{
    width: 5%;
    font-size: 15px;
    opacity: 1;
    background-image: none;
}
a.left.carousel-control :hover, a.right.carousel-control :hover{
    color: #bdbdbd;
}
/*change text*/
.carousel-caption{
    bottom: 0 !important;
    padding-bottom: 10px !important;
    padding-top: 0 !important;
    text-align: left !important;
    left: 0 !important;
    right: 0 !important;
    padding-left: 22px;  
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.5); 
}
.carousel-caption p{
    margin: 0 0 0 0 !important;
    font-size: 18px;
}
@media screen and (max-width: 600px){
    .carousel-caption p{
        font-size: 12px;
    }
}
@media screen and (max-width: 600px){
    .carousel-caption h3{
        font-size: 18px;
    }
}
.carousel-caption h3{
    font-weight: bold !important;
    margin-top: 10px !important;
}
/*Footer*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 10px 0;
}
section .section-title {
    text-align: center;
    color: #3f3f3f;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer .container{
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}
#footer {
    background: #3f3f3f !important;
    margin-top: 100px;
}
#footer h4{
	padding-left: 10px;
    margin-bottom: 20px;
    color:#949494;
}
#footer h1{
	padding-left: 10px;
    margin-bottom: 20px;
    color:#949494;
    font-size: medium;
}
#footer p{
    color:#949494;
    
}
#footer a {
    color: #949494;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer a:hover {
    color: #bbbaba;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#949494;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
@media (max-width:767px){
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}
/*change emphasis font style*/
em{
    font-weight:bolder;
    color: whitesmoke;
    font-style:normal;
}