body, html {
    height: 100%;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{
    box-sizing: border-box;
}
.bg-img {
    /* The image used */
    background-image: url("media/signinphoto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
/*Create the box*/
#login {
    width: 100%;
    height: 100vh;
    overflow: scroll;
}
.login-wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 800px;
} 
/* Add styles to the form container */
.form-horizontal {
    float: left;
    margin-top: 200px;
    margin-left: 100px;
    max-width: 300px;
    padding: 20px;
    background-color: rgb(130, 209, 141, 0.8);
} 
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 0 0 15px 0;
    border: none;
    background: #f1f1f1;
    font-size: 13px;
} 
input[type=text]:focus, input[type=password]:focus {
    background-color: #f1f1f1;
    outline: none;
}
/*overwrites*/
label{
    margin-bottom: 0 !important;
    color: black ;
}
h2{
    margin-top: 20px !important;
    margin-bottom: 20px  !important;
    color: black;
    font-weight: bold !important;
}
/* Set a style for the submit button */
button {
    background-color: #16ac1b;
    color: white;
    padding: 14px 18px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}
button a{
    text-decoration: inherit;
    color: white;
}
button:hover {
    opacity: 1;
}
button:hover a{
    text-decoration: none;
    color: inherit;
}
/*Media queries*/

@media (max-width:430px){
    .form-horizontal{
        margin-top: 80px;
        margin-left: 0px;
    }
}
@media (min-width:430px) and (max-width:530px){
    .form-horizontal{
        margin-top: 200px;
        margin-left: 0px;
    }
}
@media (min-width:2000px){
    .form-horizontal{
        margin-top: 400px;
        max-width: 400px;
        margin-left: 100px;
    }
}
