*{
    box-sizing: border-box;
}
body {
    background-color:white;
    margin: 0;
    height:100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/***********TOPNAV*********************/
.topnav {
    overflow:visible;
    background-color: solid;
    position: absolute; /* Set the navbar to absolute position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
/*Logo*/
.topnav a {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}

/*Dropdown menu*/
.topnav .topnav-right {
    position: absolute;
    top: 10px;
    right: 150px;
}
.topnav .topnav-right .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.topnav-right .dropdown-username .dropdown-content #profile  {
    color: rgb(88, 86, 86);
    padding: 12px 21px;
    text-decoration: none;
    display: block;
}
.topnav-right .dropdown-username .dropdown-content #logout  {
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    display: block;
}

.topnav-right .dropdown-username .dropdown-content #quiz  {
    color: black;
    padding: 12px 5px;
    text-decoration: none;
    display: block;
}
.topnav-right .dropdown-username .dropdown-content #volun  {
    color: black;
    padding: 12px 23px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: whitesmoke;}
.dropdown-content {display: block;}
.dropbtn {background-color: gray;}

 .dropdown-forextra{
    display: none;
 }
 .dropdown-forextra ul a{
    margin-left: -50%;
    padding-right: 65%;
    color: black;
    background-color: rgb(119, 207, 119);
 }
 .dropdown-content:hover .dropdown-forextra {
     display: block;  
  }
 .dropdown-forextra ul,.dropdown-forextra a:hover{
    display: block;
    list-style-type: none;
  }
 

/*Username button*/
.btn-primary {
    background-color: rgba(12, 141, 29, 0.8) !important;
    color: white !important;
    margin: 5px ;
    margin-left: -10% !important;
    padding: 16px !important;
    font-size: 16px !important;
    border: none !important;
    cursor: pointer !important;
}
.topnav .topnav-right .dropdown-username {
    position: absolute;
    display: inline-block;
    margin-left: -20px;
}
@media (max-width:320){
    .topnav .topnav-right .dropdown-username{
        margin-left: 10px;
    }
}
.topnav .topnav-right .dropdown-username a:hover {background-color: #ddd;}
.topnav .topnav-right .show {display: block;}

hr{
    margin-top: 140px !important;
}

/*******************WELCOME************************/
h1{
    font-family: 'Brush Script MT', cursive;
    margin: 4px ;
    margin-top: 2%;
    text-align: center;
    font-size: 80px;
}
@media (max-width:590px){
    h1{
        font-size: 60px;
    }
}

/******************COLLAPSED LIST******************/
.collapsible {
    max-width: 70%;
    margin-left: 15%;
    width: 100%;
    background-color: rgb(29, 23, 53);
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}
.active, .collapsible:hover {
    background-color: rgb(48, 39, 87);
}
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.content {
    max-width: 70%;
    margin-left: 15%;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgb(193, 222, 230);
}

/*************EDIT FORM*****************/
.edit-wrapper{
    width: 70% ;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.edit-wrapper .row{
    margin-top: 20px;
}

/* Set a style for the submit button */
.edit-wrapper button {
    background-color: #0c62d1;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
    margin-top: 10px !important;
    margin-bottom: 10px;
    padding-top: 10px ;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    opacity: 0.8;
}
.edit-wrapper button a{
    text-decoration: inherit;
    color: white;
}
.edit-wrapper button:hover {
    opacity: 1;
}
.edit-wrapper button:hover a{
    text-decoration: none;
    color: inherit;
}
.edit-wrapper h6{
    margin-top: 20px ;
    font-size: 12px;
}
label{
    font-weight:normal;
    margin-left:10px;
    font-size:20px;
}

/*Media queries*/
@media (max-width:850px){
    .col{
        flex-basis: unset;
    }
}
@media (max-width: 700px){
    .edit-wrapper button{
        width: 60%;
    }
}

/*****************MAILBOX*****************/
.mailbox-wrapper {
    width: 70% ;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}
@media (min-width:680px) and (max-width:950px){
    .mailbox-wrapper label{
        font-size: 12px !important;
    }
}
@media (min-width:705px) and (max-width:680px){
    .mailbox-wrapper{
        margin-left: 2%;
        width: 10%;
    }
    .mailbox-wrapper label{
        max-width: 10%;
        font-size: 12px !important;
    }
}
@media (max-width:705px) {
    table, thead, tbody, th, td, tr { 
		display: block; 
        color: #333; 
        font-weight: bold; 
	}
    thead tr { 
		position: absolute;
         
		top: -9999px;
		left: -9999px;
	}
    tr { border: 1px solid #ccc;
        border-bottom: 1px solid #200;}
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 30%; 
	}
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}
@media (max-width:470px){
    label{
        margin-left: -10px !important;
        font-size: 10px !important;
    }
}
@media (max-width:325px){
    label{
        margin-left: -10px !important;
        font-size: 8px !important;
    }
}

/**************DELETE ACCOUNT*************/
.delete-wrapper{
    width: 70% ;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.delete-wrapper .row{
    margin-top: 20px;
}
@media (min-width:705px) and (max-width:860px){
    .delete-wrapper{
        margin-left: -20px;
        width: 10%;
    }
    .delete-wrapper label{
        max-width: 10%;
        font-size: 12px !important;
    }
}

/************************FOOTER********************/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 10px 0;
}
section .section-title {
    text-align: center;
    color: #3f3f3f;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #3f3f3f !important;
    margin-top: 100px;
}
#footer h4{
	padding-left: 10px;
    margin-bottom: 20px;
    color:#949494;
    font-size: 20px;
    text-align: center;
}
#footer h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding-left: 10px;
    margin-bottom: 20px;
    color:#949494;
    font-size: 18px;
}
#footer p{
    color:#949494;   
}
#footer h6{
    font-size: 12px;
    color:#949494;   
}
#footer a {
    color: #949494;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer a:hover {
    color: #bbbaba;
}
.list-unstyled{
    font-size: 16px;
    text-align: center;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#949494;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
@media (max-width:767px){
	#footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}